:root {
	--grey: #6F7682;
	--blue: #1c96fc;
	--blue-alt: #166efd;
	--grey-light: #BAC1CC;

	--color-border: var(--grey-light);
	--gradient-blue: linear-gradient(90deg,var(--blue),var(--blue-alt));
	--shadow-list-hover: 0 2px 0 -1px var(--grey-light), 0 -2px 0 -1px var(--grey-light), 0 0 0 1px var(--grey-light), 0 8px 4px -4px rgba(10,10,10,.1), 0 6px 8px -2px rgba(10,10,10,.05);
}

/* Layout */

html, body  {
	min-width: 400px;
	font-family: sans-serif;
	margin: 0;
	font-size: 14px;
	line-height: 1.4
}

.header {
	color: white;
	margin-top: 10px;
	background: var(--gradient-blue);
	padding: 20px;
	position: relative;
	overflow: hidden;
}

.header::before {
    content: "";
    width: 600px;
    height: 300px;
    background: var(--gradient-blue);
    position: absolute;
    bottom: -140px;
    right: -450px;
    -webkit-transform: skewY(-30deg);
    transform: skewY(-30deg);
    opacity: 0.5;
}

/* Buttons */

.nobutton {
	all: unset;
	font-size: 1rem;
}

/* Type */

.header .title {
	margin: 0;
}

.h1 {
	font-size: 1.5rem;
	font-weight: 100;
}

/* Lists */

.list {
	margin: 0;
	padding: 10px;
    list-style-type: none;
}

.list__item-button {
	border-bottom: 1px solid var(--color-border);
	padding: 10px 15px;
	transition: box-shadow 250ms ease-in-out;
	cursor: pointer;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.list__item-button:focus,
.list__item-button:active,
.list__item-button:hover {
	box-shadow: var(--shadow-list-hover);
}

.list__item-text-title {
	text-transform: capitalize;
}

.list__item-text-title::before {
	content: '';
	width: 14px;
	height: 14px;
	margin-right: 3px;
	background: url('icons/key.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	display: inline-block;
	opacity: 0.5;
}

.list__item-text-body {
	display: block;
	color: var(--grey);
}

/* Links */

.link {
	text-decoration: underline;
	cursor: pointer;
}
